@using NSE.WebApp.MVC;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<AuthenticationResources> SharedLocalizer

<ul class="navbar-nav">
    @if (Context.User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" title="Manage">@SharedLocalizer["Welcome"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Auth" asp-action="Logout" title="Manage">@SharedLocalizer["Logout"]</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Auth" asp-action="Register" title="Manage">@SharedLocalizer["NewAccount"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login" title="Manage">@SharedLocalizer["Login"]</a>
        </li>
    }
</ul>