@model ErrorViewModel
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<AuthenticationResources> SharedLocalizer

@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <div style="padding-top: 200px; text-align: center">
        @{
            if (Model == null)
            {
                <h2>@SharedLocalizer["GenericServerError"]</h2>
            }
            else
            {
                <h2>@Html.Raw(Model.Message)</h2>
            }
        }
    </div>
</div>
