@model ErrorViewModel
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<AuthenticationResources> SharedLocalizer

@{
    ViewData["Title"] = "Error";
}

@{
    if (Model == null)
    {
        <div>
            <h2>@SharedLocalizer["GenericServerError"]</h2>
        </div>
    }
    else
    {
        ViewData["Title"] = Model.Title;
        <div>
            <h2>@Html.Raw(Model.Message)</h2>
        </div>
    }
}
